<!DOCTYPE html>
<html>
    <head>
        <title>Reservation Removed</title>
    </head>
    <body>
        <h1>Your {{ organization }} reservation was removed</h1>
        <h3>Reservation details:</h3>
        <p>Date and time: {{ dateTime }}</p>
        <p>Service: {{ serviceName }}</p>
        <p>Duration: {{ duration }}</p>
        <p>Estimated price: {{ estimatedPrice }}</p>
    </body>
</html>
