<!DOCTYPE html>
<html>
    <head>
        <title>Reservation Modified</title>
    </head>
    <body>
        <h1>Your {{ organization }} reservation was modified</h1>
        <h3>Reservation details:</h3>
        <p>Date and time: {{ dateTime }}</p>
        <p>Service: {{ serviceName }}</p>
        <p>Duration: {{ duration }}</p>
        <p>Estimated price: {{ estimatedPrice }}</p>
        <br>
        <h3>Reservation cancellation:</h3>
        <p>
            <a href="{{ url }}">Click here to cancel your reservation</a>
        </p>
    </body>
</html>
