<!DOCTYPE html>
<html>
    <head>
        <title>Your reservation has been cancelled</title>
    </head>
    <body>
        <h2>Reservation Info</h2>
        <p>Reservation reference: {{ reference }}</p>
        <p>Organization Name: {{ organization_name }}</p>
        <p>Service Name: {{ service_name }}</p>
        <p>Date and Time: {{ start_date_time|date('d-m-Y H:i') }}</p>
        <p>Estimated price: {{ estimated_price }} PLN</p>
        <p>Duration: {{ duration }}</p>
    </body>
</html>
